body { 
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background: #fff url(/images/h-grad.png) repeat-x;
    height: 60px;
    margin-top: 10px;
    text-align: left;
    padding-top: 1px;
}

#container {
    width: 760px;
    min-width: 760px;
    margin: 0 auto;
    padding: 0px;
}

#sidemenu {
    font-size: 80%;
    float: left;
    width: 100px;
    padding: 0;
}

#sidemenu ul {
    list-style: none;
    margin-left: 0px;
    padding: 0;
}

a { color: #b00; }
a:hover { background-color: #b00; color: #eee; }

#content { float: right; width: 650px; }

th { background-color: #933; color: #fff; }
tr.odd { background-color: #fcc; }
tr.even { background-color: #ecc; }

/* User table styling */
table#users { width: 100% }
table#users th{ font-size: 95% }
table#users td{ font-size: 90% }


/* Forum styling */
table#forums { width: 100%; background-color: #fff; border: 1px solid #c33; }
table#forums td.name  { width: 60% }
table#forums td.topic { width: 20%; text-align: center; }

table#topics { width: 100%; background-color: #fff; border: 1px solid #000; }
table#topics td.name   { width: 60% }
table#topics td.reply  { width: 20%; text-align: center; }
table#topics td.author { width: 20%; text-align: center; }

table#posts { width: 100%; background-color: #fff; border: 1px solid #000; }
table#posts td.author { width: 20%; vertical-align: top; }
table#posts td.body   { width: 80% }

.forumname { font-size: 1.1em; }
.forumdescription { font-size: 0.7em; padding-top: 0.4em; }


/* Photo gallery styling */
#photos ul { list-style: none; }
#photos li { display: inline; }

#photos li a img {
    margin: 10px;
    padding: 5px;
    background: #000;
}

#photo {
    margin-bottom: 20px;
    padding: 5px;
    background: #000;
}

.digg_pagination {
    background: white;
    padding-bottom:5px;
    /*padding-top:5px;*/
    width:99%;
    /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
.digg_pagination span.current {
    font-weight: bold;
    background: #43A200;
    color: white;
    border: 1px solid #43A200; }
.digg_pagination a {
    text-decoration: none;
    color: black;
    border: 1px solid #F1F1F1; }
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #003;
    border-color: #003; }
.digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
.digg_pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child+html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
    background: #F1F1F1;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding: 1em; }
.apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }

.flickr_pagination {
    text-align: center;
    padding: .3em; }
.flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
.flickr_pagination span.disabled {
    color: #AAA; }
.flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
.flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
    border-color: #003366;
    background: #0063DC;
    color: white; }
.flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
.flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
.flickr_pagination .prev_page {
    margin-right: 1em; }
.flickr_pagination .next_page {
    margin-left: 1em; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}