<%- title "用户列表" -%>
<table>
  <tbody>
    <tr>
      <th>帐号：</th>
      <th>角色：</th>
      <th>操作：</th>
    </tr>
    <%- @users.each do |user| -%>
      <tr>
        <td><b><%= link_to user.login,user %></b></td>
        <td><%=  h user.roles.map(&:to_s) * ',' if user.roles %></td>
        <td>
          <%= link_to '编辑', [:edit,user]  %>
          <%= link_to '删除', user, :confirm => 'Are you sure?', :method => :delete  %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>