<% title "用户中心" %>
<table>
  <tbody>
    <tr><th>帐号：</th><td><%=link_to @record.login ,[:edit,@record] %></td></tr>
    <tr><th>邮箱：</th><td><%= @record.email %></td></tr>
    <tr><th>角色</th><td><%= h @record.roles.map(&:to_s) * ',' if @record.roles  %></td></tr>
  </tbody>
</table>
<%= link_to "返回",users_url %>